:root {
    --corprincipal: #008080;
    --corprincipalhover: #036b6b;
    --mham-200: #4ecdc4;
    --mham-300: #d3eddc;
    --mham-400: #5dade2;
    --corfundo: #FFFFFF;
    --corfundosecundaria: #EEEEEE;
}
.input input[type="date"]:not(:placeholder-shown)~label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 1px;
}

.container-atualizar, .container-cadastrar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.login-titulo {
    margin-left: 13.5%;
    padding: 30px;
    font-size: 25px;
    font-weight: bolder;
}

.form-atualizar, .form-cadastrar {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 15%;
}
.input {
    flex: 1 1 calc(50% - 1rem); 
    margin-right: 1rem; 
    margin-bottom: 1rem; 
}

#container-botao-atulizar-paciente {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#botao-atualizar-paciente, .botao-cadastrar {
    border: none;
    background-color: var(--corprincipal);
    color: white;
    width: 300px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#botao-atualizar-paciente:hover {
    background-color: var(--corprincipalhover);
}