.card-solicitacoes-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #cacaca;
}

.titulo-plus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titulo-solicitacoes {
  font-size: 24px;
  font-weight: bold;
}

#plus {
  cursor: pointer;
  font-size: 25px;
}

.solicitacoes-table {
  width: 100%;
  border-collapse: collapse;
}

.solicitacoes-table th,
.solicitacoes-table td {
  padding: 10px;
  text-align: left;
}

.solicitacoes-table tbody tr {
  background-color: #cacaca;
  border-radius: 10px;
}

.solicitacoes-table tbody tr td {
  border: none;
  padding: 15px;
}

.solicitacoes-table button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.solicitacoes-table button:hover {
  background-color: #006666;
}

hr {
  border: none;
  border-top: 1px solid #eee;
}

@media (max-width: 1108px) {
  hr {
    width: 100%;
  }
  .titulo-solicitacoes {
    font-size: 20px;
  }

  .titulo-plus-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #plus {
    font-size: 20px;
    margin-top: 10px;
  }

  .solicitacoes-table th,
  .solicitacoes-table td {
    padding: 8px;
    font-size: 10px;
  }

  .solicitacoes-table button {
    padding: 4px 8px;
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  hr {
    width: 110%;
  }
  .card-solicitacoes-container {
    max-width: 500px;
    overflow-y: auto;
  }

  .solicitacoes-table th,
  .solicitacoes-table td {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  hr {
    width: 110%;
  }
  .card-solicitacoes-container {
    overflow-y: auto;
  }

  .solicitacoes-table th,
  .solicitacoes-table td {
    padding: 8px !important;
    font-size: 10px;
  }
}

@media (max-width: 700px) {
  hr {
    width: 150%;
  }
  .solicitacoes-table th,
  .solicitacoes-table td {
    padding: 8px;
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  hr {
    width: 150%;
  }
}

@media (max-width: 480px) {
  .card-solicitacoes-container {
    overflow-y: auto;
  }
  .titulo-solicitacoes {
    font-size: 18px;
  }

  #plus {
    font-size: 18px;
  }

  .solicitacoes-table {
    width: 100%;
    table-layout: auto;
  }

  .solicitacoes-table th,
  .solicitacoes-table td {
    padding: 5px;
    font-size: 10px;
  }

  .solicitacoes-table button {
    padding: 3px 6px;
    font-size: 12px;
  }
}
