.card-solicitacoes-container {
  padding: 20px;
  border-radius: 10px;
    background-color: #cacaca;
}

.titulo-plus-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

.titulo-solicitacoes {
  font-size: 24px;
  font-weight: bold;
}

#plus {
  cursor: pointer;
  font-size: 25px;
}

.solicitacoes-table {
  width: 100%;
  border-collapse: collapse;
}

.solicitacoes-table th,
.solicitacoes-table td {
  padding: 10px;
  text-align: left;
}

.solicitacoes-table tbody tr {
  background-color: #fff;
  border-radius: 10px;

}

.solicitacoes-table tbody tr td {
  border: none;
  padding: 15px;
}

.solicitacoes-table button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  margin-right: 5px;
}

.solicitacoes-table button:hover {
  background-color: #006666;
}

hr {
  border: none;
  border-top: 1px solid #eee;
}
