
li {
    list-style: none;
}


#fono {

    color: black;
    text-decoration: none;

}

#esquerda {

    color: black;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    justify-content: space-evenly;


}

#botaoEntre {

    color: white;
    background-color: #008080;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    /* Move para a direita */
    margin-top: -20px;


}

#home {

    text-align: center;

}

#home2 {

    text-align: center;

}

#entre {
    margin-left: 47%;
    align-items: center;
    height: 39px;
    width: 80px;
    color: white;
    background-color: #008080;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;


}

.img {
    width: 80%;
    margin-left: 10%;
    background-position: center center; 
    background-attachment: fixed;

}

#p{
    color:#aaa;
    margin-left: 90px;

}

#coment{

    margin-left: 90px;

}
.container{
height: 140px;
padding-left: 30px;
flex-direction: row;
justify-content: space-evenly;
border-radius: 20px;
box-shadow:3px 3px 15px rgb(0, 0, 0, 0.1);

}

.card-text{

margin-left: 55px;
margin-top: 50px;
padding-bottom: 10px;
position: absolute;


}

.card{

    border-radius: 20px;
    color:#d9d9d9;
    background-color: #FFFFFF;
    border: none;

}

#fed{

padding-top: 10px;
font-weight: 500;
color: #008080; 

}

#nome{

position: absolute;
color: #008080;
margin-left: 55px;
margin-top: 30px;

}

#perfil{

margin-top: 30px;
position: absolute;

}


#email {
    display: block; /* Coloca o e-mail em uma linha separada */
    margin-top: 5px; /* Adiciona um espaço acima do e-mail */
    padding-left: 10px; /* Adiciona espaçamento à esquerda */
}

hr{
    
    box-sizing:border-box;
    border-bottom: 3px solid #aaa;
    width:100%;  
  }

.icons{

    color:#008080 ;
}

#fono2 {

    color: black;
    text-decoration: none;

}


#divpai {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    min-width: 300px; /* Define a largura mínima da grid */
    max-width: 1000px; /* Define a largura máxima da grid */

  }
  
  .topic1 {

margin-left: 800px;

/* espaçamento entre as colunas*/

  }
  
  .pages {
    font-weight: bold;
  }
  
  .item {
    margin-top: 15px;
    /* espaço em baixo das linhas para a escrita ter um leve espaçamento*/
  }

  

#mae{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 1000px;
    margin-left: 480px;
   


}


.linha {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 75%; /* Define a largura do elemento */
    border-bottom: 1px solid #CCCCCC; /* Define a cor e o estilo da linha */
    margin: 20px auto; /* Espaçamento superior e inferior e centraliza horizontalmente*/
    margin-left: 250px;
    
}


@media screen and (max-width: 600px) {
    #divpai {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste de colunas para dispositivos pequenos */
        grid-gap: 40px;
        max-width: 1000px;
        margin: 0 auto; /* Centraliza horizontalmente */
    }
    
   
        #mae {

        display: flex;
        flex-direction: column; /* Define a direção dos itens como coluna */
        align-items: center; /* Alinha os itens ao centro */
       
        margin: 0 auto; /* Centraliza horizontalmente */
        grid-area: fed;
        
        
        }
    
    
    
    .linha {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        width: 100%; /* Largura total */
        border-bottom: 1px solid #CCCCCC; /* Define a cor e o estilo da linha */
        margin: 40px 0; /* Espaçamento superior e inferior */
    }
}





