:root {
    --corprincipal: #008080;
    --corprincipalhover: #036b6b;
    --mham-200: #4ecdc4;
    --mham-300: #d3eddc;
    --mham-400: #5dade2;
    --corfundo: #FFFFFF;
    --corfundosecundaria: #EEEEEE;
}

.input input[type="date"]:not(:placeholder-shown)~label,
.input input[type="time"]:not(:placeholder-shown)~label,
.input input[type="text"]:not(:placeholder-shown)~label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 1px;
}

.input input[type="date"]:not(:placeholder-shown)~label,
.input input[type="time"]:not(:placeholder-shown)~label {
    background: var(--corfundo);
}

.container-agendar-consulta,
.container-vendas-devolucao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    flex-direction: column;
}

.agendar-consulta-titulo,
.vendas-devolucao-titulo {
    padding: 30px;
    font-size: 25px;
    font-weight: bolder;
}

.form-agendar-consulta,
.form-vendas-devolucao {
    margin-left: 2%;
}

#container-botao-agendar-consulta,
#container-botao-vendas-devolucao {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#botao-agendar-consulta,
#vende,
#devolver {
    border: none;
    background-color: var(--corprincipal);
    color: white;
    width: 100%;
    margin-left: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#botao-agendar-consulta:hover,
#vende:hover,
#devolver:hover {
    background-color: var(--corprincipalhover);
}

.input {
    width: 431px;
    margin-bottom: 15px;
    position: relative;
}

.input label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: 0.2s;
    pointer-events: none;
    background: var(--corfundo);
}

.input input:focus~label,
.input input:not(:placeholder-shown)~label,
.input select:focus~label,
.input select:not(:placeholder-shown)~label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 1px;
}

.produto {
    border: none;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
    margin-bottom: 30px;
}

.img-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.img-container img {
    width: 100%;
    height: auto;
}

.produto h3 {
    margin: 10px 0;
    font-size: 18px;
}

.produto p {
    margin: 5px 0;
    color: #000000;
}